@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

body {
  background-color: #080803;
}

.custom-img {
  background-image: url("/assets/dj.jpg");
}
.custom-ig {
  background-image: url("/assets/bgweb2.jpg");
}

.text-cs {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
}

.navigation_wrapper {
  background-color: rgba(119, 119, 119, 0.781);
}
.seek_bar {
  background-color: rgb(24, 128, 3);
}
.carousel{
  padding: 5rem;
  background-color: #000;
  color: #fff;
  height: 65vh;
  width: 100vw;
}

.box{
  height: 300px;
}

.box h3{
   text-align: center;
}

.slick-slide div{
  margin: 0 1rem;
}

.slick-next {
    right: -40px !important;
}

 .slick-dots li.slick-active button:before{
  color: lightgreen !important;
} 

.slick-dots li button:before{
  color: #fff !important;
  font-size: 1rem !important;
  top: 2rem !important;
}
