@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

@font-face {
  font-family: Outfit;
  src: url(../public/assets/Outfit-Medium.ttf);
}


.outfit{
  font-family: Outfit;
}

html{
  scroll-behavior: smooth;
}

body {
  background-color: #080803;
}


.custom-img {
  background-image: url("/assets/kev5.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  margin-bottom: 7rem; 
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.custom-img2 {
  background-image: url("/assets/kev5.jpg");
  -webkit-mask-image: linear-gradient(#000, rgba(0,0,0,0));
  mask-image: linear-gradient(#000, rgba(0,0,0,0));
}


.moot{
  display: grid;
  justify-self: self-end;
}

.text-cs {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
}

.navigation_wrapper {
  background-color: rgba(119, 119, 119, 0.781);
}
.navigation_wrapper2 {
  background-color: rgba(16, 247, 185, 0.781);
}
.seek_bar {
  background-color: rgb(24, 128, 3);
}
.seek_bar2 {
  background-color: rgb(21, 28, 235);
}

.carousel{
  padding: 5rem;
  background-color: #000;
  color: #fff;
  height: 65vh;
  width: 100vw;
}

.box{
  height: 300px;
}

.box h3{
   text-align: center;
}

.slick-slide div{
  margin: 0 1rem;
}

.slick-next {
    right: -40px !important;
}

 .slick-dots li.slick-active button:before{
  color: lightgreen !important;
} 

.slick-dots li button:before{
  color: #fff !important;
  font-size: 1rem !important;
  top: 2rem !important;
}



#waveform{
  width: 100%;
  max-width: 100%;
}

.controls{
  margin-top: 10px;
}

.controls button{
  margin: 1px;
  border: 1px solid #ccc !important;
}

.controls button:hover{
  background-color: #ececec;
}

.audio-info{
  margin-top: 15px;
  color: #fff;
  border-radius: 4px;
  padding: 8px 15px;
  display: inline-block;
  font-size: 12px;
}



